{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block tab_menu_navbar_header %}
    {% if _navbar_title is not empty %}
        <div class="navbar-header col-md-10">
            {{ _navbar_title|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block list_table %}

    {#  Source and documentation
        -----------------------------------------------
        https://jonmiles.github.io/bootstrap-treeview/
        https://github.com/jonmiles/bootstrap-treeview
     #}

    <script>
        var serializedData = {{ serializedData|raw }};
        var data = [];
        var lastResultNumber = {{ lastResultNumber }};
        var count = {{ countResults }};

        $(document).on('click', '.node-tree', function() {
            var nodeId = $(this).data('nodeid');

        });

        $(document).on('click', '#load-more-project', function () {
            var url = $(this).data('url');

            $.ajax({
                url: url,
                data: {
                    numberOfFirstRow: lastResultNumber
                },
                method: 'POST'
            }).done(function (resp) {
                lastResultNumber += 10;

                var respData = resp.serializedData;

                $.each(respData, function (i, node) {
                    var item = createItem(node);
                    recursiveChildProjects(node, item);
                    data.push(item);
                });

                initializeTree();
            });
        });

        function buildTreeData(serializedData) {
            $.each(serializedData, function (i, node) {
                var item = createItem(node);

                recursiveChildProjects(node, item);

                data.push(item);
            });
        }

        function initializeTree() {
            $('#tree').treeview({
                data: getTree(),
                enableLinks: true,
                showTags: true,
                levels: 1,
            });
        }

        function recursiveChildProjects(object, parent) {
            if (object.hasChildren) {
                parent.nodes = [];

                $.each(object.children, function (i, e) {
                    var child = createItem(e);

                    recursiveChildProjects(e, child);
                    parent.nodes.push(child);
                })
            }
        }

        function createItem(node) {
            var item = {};
            var href = "{{ path('admin_application_crm_project_edit', {'id' : 'project_id'}) }}";
            href = href.replace("project_id", node.id);
            var name = node.name;

            if (node.client_name) {
                name = name + ' - ' + node.client_name;
            }

            item.text = name;
            item.icon = "glyphicon glyphicon-stop";
            item.href = href;
            item.tags = [node.status];
            item.selectable = false;

            //@TODO
            //@TODO add custom data to item ex.: data-id, numbersOfChildren, initialized or not
            //@TODO in case of element children variable is not initialized, call the ajax function and get children var
            //@TODO add children elements under the parent

            return item;
        }

        function getTree() {
            // Some logic to retrieve, or generate tree structure
            return data;
        }
    </script>

    <div class="col-xs-12 col-md-12">
        <h2>Projects</h2>
        <div id="tree"></div>
        <a id="load-more-project"
           class="btn btn-default"
           style="display: none"
           data-url="{{ path('admin_application_crm_project_loadMoreProject') }}"
        >Load more
        </a>
    </div>
    <script src="{{ asset('assets/vendor/bootstrap-treeview/src/js/bootstrap-treeview.js') }}"></script>
    <script>
        $(document).ready(function () {
            if (lastResultNumber < count) {
                $('#load-more-project').show();
            }

            buildTreeData(serializedData);
            initializeTree();
        });
    </script>

    {#/Users/davidkovacs/Projects/8wayscrm/web/assets/#}
{% endblock %}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}

        <div class="col-xs-12 col-md-12 sonata-filters-box"
             style="display: {{ admin.datagrid.hasDisplayableFilters ? 'block' : 'none' }}"
             id="filter-container-{{ admin.uniqid() }}">
            <div class="box box-primary">
                <div class="box-body">
                    <form class="sonata-filter-form form-horizontal {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}"
                          action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                        {{ form_errors(form) }}

                        <div class="row">
                            <div class="col-sm-9">
                                {% set withAdvancedFilter = false %}
                                {% for filter in admin.datagrid.filters %}
                                    {% set filterActive = ((filter.isActive() and filter.options['show_filter'] is null) or (filter.options['show_filter'] is same as(true))) and not admin.isDefaultFilter(filter.formName) %}
                                    {% set filterVisible = filter.options['show_filter'] is same as(true) or filter.options['show_filter'] is null %}
                                    {% if filter.name == 'quicksearch' %}
                                        <div class="hidden">
                                            {{ form_widget(form.children[filter.formName].children['value']) }}
                                        </div>
                                    {% endif %}
                                    <div class="form-group {% block sonata_list_filter_group_class %}{% endblock %}"
                                         id="filter-{{ admin.uniqid }}-{{ filter.name }}"
                                         sonata-filter="{{ filterVisible ? 'true' : 'false' }}"
                                         style="display: {% if filterActive %}block{% else %}none{% endif %}">
                                        {% if filter.label is not same as(false) %}
                                            <label for="{{ form.children[filter.formName].children['value'].vars.id }}"
                                                   class="col-sm-3 control-label">{{ admin.trans(filter.label, {}, filter.translationDomain) }}</label>
                                        {% endif %}
                                        {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}

                                        <div class="col-sm-4 advanced-filter">
                                            {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                        </div>

                                        <div class="col-sm-4">
                                            {{ form_widget(form.children[filter.formName].children['value']) }}
                                        </div>

                                        <div class="col-sm-1">
                                            <label class="control-label">
                                                <a href="#" class="sonata-toggle-filter sonata-ba-action"
                                                   filter-target="filter-{{ admin.uniqid }}-{{ filter.name }}"
                                                   filter-container="filter-container-{{ admin.uniqid() }}">
                                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                                </a>
                                            </label>
                                        </div>
                                    </div>

                                    {% if filter.options['advanced_filter'] %}
                                        {% set withAdvancedFilter = true %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-sm-3 text-center">
                                <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                                {% set foo = form.children['_page'].setRendered() %}
                                {{ form_rest(form) }}

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-filter"
                                           aria-hidden="true"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}
                                    </button>

                                    <a class="btn btn-default"
                                       href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">
                                        {{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}
                                    </a>
                                </div>

                            </div>
                        </div>

                        {% for paramKey, paramValue in admin.persistentParameters %}
                            <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block actions %}
    {{ block('list_filters_actions') }}
    {{ parent() }}
{% endblock %}

{% block list_filters_actions %}
    {%- if admin.datagrid.filters|length %}
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown sonata-actions">
                <a href="#" class="dropdown-toggle sonata-ba-action" data-toggle="dropdown">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                    {{ 'link_filters'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b>
                </a>

                <ul class="dropdown-menu" role="menu">
                    {% for filter in admin.datagrid.filters if (filter.options['show_filter'] is same as(true) or filter.options['show_filter'] is null) %}
                        {% if filter.name != 'quicksearch' %}
                            {% set filterActive = ((filter.isActive() or filter.options['show_filter']) and not admin.isDefaultFilter(filter.formName)) %}
                            <li>
                                <a href="#" class="sonata-toggle-filter sonata-ba-action"
                                   filter-target="filter-{{ admin.uniqid }}-{{ filter.name }}"
                                   filter-container="filter-container-{{ admin.uniqid() }}">
                                    <i class="fa {{ filterActive ? 'fa-check-square-o' : 'fa-square-o' }}"></i>{{ admin.trans(filter.label, {}, filter.translationDomain) }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endif -%}
{% endblock %}