{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block content %}
    <div ng-app="App" data-fillout-id="{{ object.id }}">
        <div ui-view></div>
    </div>

    <link href="{{ asset('bundles/applicationquotationgenerator/qg-v2/dist/bundle.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/applicationquotationgenerator/qg-v2/dist/vendor.bundle.js') }}"></script>
    <script src="{{ asset('bundles/applicationquotationgenerator/qg-v2/dist/app.bundle.js') }}"></script>
{% endblock content %}

{% block form %}
    {{ block('parentForm') }}
{% endblock %}