{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block body_attributes %}class="sonata-reskin sonata-bc skin-black fixed"{% endblock %}

{% block sonata_top_nav_menu %}
	<div class="navbar-right">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
				{% include admin_pool.getTemplate('add_block') %}
			</li>
			<li class="dropdown">
				{% include admin_pool.getTemplate('user_block') %}
			</li>
		</ul>
	</div>
{% endblock %}


{% block sonata_page_content_nav %}
	{% if _tab_menu is not empty or _actions is not empty %}
		<nav class="navbar navbar-default" role="navigation">
			{% block tab_menu_navbar_header %}
				{% if _navbar_title is not empty %}
					<div class="navbar-header">
						<span class="navbar-brand">{{ _navbar_title|raw }}</span>
					</div>
				{% endif %}
			{% endblock %}
			<div class="container-fluid">
				<div class="navbar-left">
					{% if _tab_menu is not empty %}
						{{ _tab_menu|raw }}
					{% endif %}
				</div>

				{% if _actions|replace({ '<li->': '', '</li->': '' })|trim is not empty %}
					<div class="navbar-right">
						<ul class="nav navbar-nav" role="menu">
							{{ _actions|raw }}
						</ul>
					</div>
				{% endif %}
			</div>
		</nav>
	{% endif %}
{% endblock sonata_page_content_nav %}


{% block sonata_left_side %}
	<aside class="left-side sidebar-offcanvas">
		<section class="sidebar">
			{% block sonata_side_nav %}
				{{ block('side_bar_nav') }}
			{% endblock sonata_side_nav %}
		</section>
	</aside>
{% endblock sonata_left_side %}

{% block side_bar_nav %}
	{% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
		{% set item = knp_menu_get('sonata_admin_sidebar') %}
		{% set a = item.setChildrenAttribute('class', 'sidebar-menu') %}
		{{ knp_menu_render(item, { template: 'ApplicationAdminBundle:Menu:sidemenu.html.twig', allow_safe_labels: true }) }}
		{#<ul class="sidebar-menu">#}
			{#{% for child in item  %}#}
				{#<li class="{% if child.uri and false %}{% else %}treeview{% endif %}{% if true or child.isCurrent  %} active{% endif %}">#}
					{#<div style="background: #444; padding: 5px; padding-left: 15px; margin-top: 2px;" class="clearfix">#}
						{#<a href="#" class="btn btn-xs tree-toggle pull-right" oncl-ick="javascript:null;" style="padding: 5px; padding-right: 13px;">#}
							{#<i class="fa pull-right fa-angle-left" style="font-weight: 600;"></i>#}
						{#</a>#}
						{#<a href="{{ child.uri|default('#') }}" class="pull-left">#}
							{#<i class="{{ child.extras.icon|default('fa fa-folder') }}"></i>#}
							{#<span>{{ child.label }}</span>#}
						{#</a>#}
					{#</div>#}
					{#{% if child.children|length > 0 %}#}
					{#<ul class="treeview-menu {% if child.isCurrent %} active{% endif %}">#}
						{#{% for subChild in child.children %}#}
							{#<li class="{% if subChild.isCurrent %}active{% endif %}" >#}
								{#<a href="{{ subChild.uri }}" class="pull-left">#}
									{#<i class="{{ subChild.extras.icon|default('fa fa-angle-double-right') }}"></i>#}
									{#<span>{{ subChild.label }}</span>#}
								{#</a>#}
								{#{% for subSubChild in subChild.children %}#}
									{#<a href="{{ subSubChild.uri }}" class="pull-right" title="{{ subSubChild.label }}" style="padding-right: 8px;">#}
										{#<i class="{{ subSubChild.extras.icon|default('fa fa-question') }}"></i>#}
									{#</a>#}
								{#{% endfor %}#}
								{#<div class="clearfix"></div>#}
							{#</li>#}
						{#{% endfor %}#}
					{#</ul>#}
					{#{% endif %}#}
				{#</li>#}
			{#{% endfor %}#}
		{#</ul>#}
	{% endif %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style>
		.connection form .form-actions {
			padding-bottom: 5px;
		}

		.navbar-right .navbar-nav>li {
			float: right;
		}
	</style>
{% endblock %}

{% block sonata_wrapper %}
	{% set block_event_options = { context: { admin: admin|default(null) } } %}
	{{ sonata_block_render_event('wrapper.pre', block_event_options) }}
	{{ parent() }}
	{{ sonata_block_render_event('wrapper.post', block_event_options) }}
	{{ sonata_block_render_event('assets', block_event_options) }}

	{{ sonata_block_include_stylesheets('screen') }}
	{{ sonata_block_include_javascripts('screen') }}
{% endblock %}
